<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>

     <title>YouTemp</title>
<!--

DIGITAL TREND

https://templatemo.com/tm-538-digital-trend

-->
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="">
     <meta name="keywords" content="">
     <meta name="author" content="">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
     <link rel="stylesheet" href="{%static 'css/font-awesome.min.css'%}">
     <link rel="stylesheet" href="{%static 'css/aos.css'%}">
     <link rel="stylesheet" href="{%static 'css/owl.carousel.min.css'%}">
     <link rel="stylesheet" href="{%static 'css/owl.theme.default.min.css'%}">

     <!-- MAIN CSS -->
     <link rel="stylesheet" href="{%static 'css/templatemo-digital-trend.css'%}">

</head>
<body>

     <!-- MENU BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="index.html">
              <i class=""></i>
              <img src="/static/images/b.png" width="50px">YouTemp
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-link contact">
                        <a href="{% url 'Data'%}" class="nav-link smoothScroll">Home</a>
                    </li>
                    <li class="nav-link contact">
                        <a href="{% url 'data2'%}" class="nav-link">Tab</a>
                    </li>
                    <li class="nav-link contact">
                        <a href="{% url 'data3'%}" class="nav-link smoothScroll">Graphe</a>
                    </li>
                     <li class="nav-link contact">
                        <a href="{% url 'data4'%}" class="nav-link smoothScroll">Historique</a>
                    </li>


                    
                    
                </ul>
            </div>
        </div>
    </nav>


     <!-- HERO -->
     <section class="hero hero-bg d-flex justify-content-center align-items-center">
               <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                              <div class="hero-text">

                                   <h1 class="text-white" data-aos="fade-up"> Bienvenue dans l'application YouTemp !!</h1>

                                   <a href="{% url 'data2'%}" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Cliquer ici pour voir les données collectées!</a>

                                   <strong class="d-block py-3 pl-5 text-white" data-aos="fade-up" data-aos-delay="200"><i class=></i><img src="/static/images/ic.png" width="20px"> iman.essadiki.01@gmail.com</strong>
                              </div>
                        </div>

                        <div class="col-lg-6 col-12">
                          <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                            <img src="static/images/term.png" class="img-fluid" width="300px">
                          </div>
                        </div>

                    </div>
                    
               </div>

     </section>




    

     


     

     <!-- SCRIPTS -->
     <script src="/static/js/jquery.min.js"></script>
     <script src="/static/js/bootstrap.min.js"></script>
     <script src="/static/js/aos.js"></script>
     <script src="/static/js/owl.carousel.min.js"></script>
     <script src="/static/js/smoothscroll.js"></script>
     <script src="/static/js/custom.js"></script>

</body>
</html>